.customCol {
  flex: 0 0 auto;
  width: 100%;
}

.customMarginBottom {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 490px) {
  .customCol {
    width: 33.33333333%;
  }

  .customMarginBottom {
    margin-bottom: 0;
  }
}