// Include any default variable overrides here (though functions won't be available)

/**
 * Colors
 */
 $theme-colors: (
  "primary": #57c3d7,
  "primary-dark": #006c7f,
  "secondary": #ff0074,
  "gray": #9095a5,
  "light": #e9e9e9,
  "dark": #2b313c,
  "danger":#dc3545,
  "dark-gray": #999999,
);

$body-color: #324F54;

/*
 * Fonts
 */
$font-size-base: 1rem; // no change (re-specifying this so we can use it below for headings)

$h1-font-size: $font-size-base * 3.75;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$font-weight-normal: 300;

$headings-font-weight: 600;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight-bolder: 600;
// $lead-font-weight: 300;

/**
 * Border Radius
 * Unchanged, but included here so the variables can be used below
 */
 $border-radius:    .25rem;
 $border-radius-lg: .75rem;
 $border-radius-sm: .2rem;

/**
 * Buttons
 * We override $btn-border-radius directly and don't modify the more-general $border-radius
 */
$btn-font-weight: 400;
// $input-btn-padding-x: 0.75rem;
$btn-border-radius: 0;
// $input-btn-padding-x-lg: 1.5rem;
$btn-border-radius-lg: 0;
$input-btn-padding-x-sm: 0.875rem;
$btn-border-radius-sm: 0;

/**
 * Navbar
 */
$navbar-nav-link-padding-x: 1rem;

$navbar-dark-color:                 rgba(white, .90); // rgba($white, 0.5);
$navbar-dark-hover-color:           rgba(white, 1); // rgba($white, 0.75);
$navbar-dark-active-color:          white;
$navbar-dark-disabled-color:        rgba(white, .25);
$navbar-dark-toggler-border-color:  rgba(white, 0.9); // rgba($white, 0.1);
$navbar-toggler-border-radius:      $border-radius;

// $dropdown-padding-y: 1rem; // might be needed if we have a larger border radius

$input-padding-x: 0.75rem; // set back to its original value (don't copy $input-btn-padding-x)

@import "bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.card.rounded-lg .card-img-top {
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
}

h1, .h1 {
  color: #122022;
  text-transform: uppercase;
}
h2, .h2 {
  color: #122022;
  letter-spacing: -0.055rem;
  font-weight: 200;
  // because we set a non-standard font weight, we explicitly specify the font weight for bold
  b, strong, &.fw-bold {
    font-weight: 600;
  }
}
// h2 strong, h2.bold h2 .bold, .h2 strong, .h2.bold .h2 .bold { font-weight: 600 }
h3, .h3 {
  color: #324F54;
}
h4, .h4, h5, .h5, h6, .h6 {
  color: #122022;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nectar-fancy-ul ul li .icon-default-style[class^=icon-] {
  line-height: 30px;
  font-size: 16px;
  height: 100%;
  line-height: 22px;
  background-color: transparent;
}
li{
  opacity: 1;
  left: 0px;
}
.nectar-fancy-ul ul li i, .nectar-fancy-ul ul li i.icon-default-style {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
}
.icon-ok:before {
  content: "\f00c";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  speak: none;
}

.nectar-fancy-ul ul li {
  list-style: none;
  position: relative;
  padding-left: 38px;
}
.nectar-fancy-ul[data-animation=true] ul li {
  opacity: 0;
  left: -20px;
  margin-bottom: 5px;
}

@media (max-width: 575px) {
  h1, .h1 { font-size: 2.25rem }
  h2, .h2 { font-size: 2rem }
  h3, .h3 { font-size: 1.25rem }
  h4, .h4 { font-size: 1rem }
  h5, .h5 { font-size: 1rem }
  h6, .h6 { font-size: 1rem }
}

.bg-dark {
  h1, .h1 { color: #e8e8e8; }
  h2, .h2 { color: #e8e8e8;}
  h3, .h3 { color: #ddd; }
  h4, .h4, h5, .h5, h6, .h6 { color: white; }
  color: #ddd;
}

.btn { text-transform: uppercase; }
.btn-primary, .btn-secondary { color: white }

#main-nav { z-index: 1040 }

#main-nav .nav-link { font-weight: 400; text-transform: uppercase; }

.dropdown-item-primary { font-weight: 600 }
.dropdown-item-sub { padding-left: 2rem }

section {
  padding: 2rem 0;
  position: relative; /* in case we use a cover image */
  overflow: hidden; /* in case we use a cover image */
}
section#firstSection { padding-top: 6rem }
@media (min-width: 768px) {
  section { padding: 5rem 0 }
  section#firstSection { padding-top: 11.5rem }
}

section > div.container {
  position: relative; /* so that if we use a cover image, the content will display on top */
}

.overlay-section { padding-bottom: 4rem; }
.negative-section { margin-top: -4rem; }
@media screen and (min-width: 768px) {
  .overlay-section { padding-bottom: 8rem; }
  .negative-section { margin-top: -10rem; }
}

// gutter-sized margins
.mb-g { margin-bottom: 30px }
@media (min-width: 576px) {
  .mb-sm-g { margin-bottom: 30px }
}
@media (min-width: 768px) {
  .mb-md-g { margin-bottom: 30px }
}
@media (min-width: 992px) {
  .mb-ld-g { margin-bottom: 30px }
}
@media (min-width: 1200px) {
  .mb-xl-g { margin-bottom: 30px }
}

.py-section {
  padding-top: 2rem; padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .py-section { padding-top: 5rem; padding-bottom: 5rem; }
}

.text-shadow { text-shadow: 0px 7px 15px rgba(0,0,0,.40); }

.sm-gutters {
  margin-right: -8px;
  margin-left: -8px;
  > .col,
  > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

ul.no-indent, ol.no-indent { padding-inline-start: 0rem; padding-left: 1rem; }
ul.sm-indent, ol.sm-indent { padding-inline-start: 0rem; padding-left: 1.5rem; }

.navbar {
  transition: background-color 500ms;
}

.navbar-dark .navbar-toggler {
  background-color: rgba(255,255,255,0.25)
}

.navbar-dark.opened.mobile {
  background-color: rgba(32, 32, 32, 0.95);
  padding-bottom: 1.25rem;
}

.navbar-light #main-nav { padding-bottom: 0 }

.navbar-nav { z-index: 10 }

#main-nav { padding-bottom: 0; padding-top: 0 }

#secondary-nav { margin-top: 56px }

#nav-wrapper {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.mobile #nav-wrapper {
  flex-wrap: wrap;
  // padding-bottom: .75rem;
}

.desktop.navbar-dark #nav-wrapper {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 0.75px solid rgba(255, 255, 255, 0.75);
}

#secondary-nav {
  opacity: 0;
  // transition: none;
}

#secondary-nav.scrolled {
  opacity: 1;
  transition: opacity 500ms;
}

@media (max-width: 575px) {
  .display-1 { font-size: 6rem }
  .display-2 { font-size: 5rem }
  .display-3 { font-size: 4rem }
  .display-4 { font-size: 3rem }
}

.btn.btn-link { padding: 0 }
.btn.btn-link:focus { box-shadow: none }

pre { color: inherit }

.font-family-open-sans { font-family: $font-family-sans-serif; }

.backgroundVideoWrapper {
  position: relative;
  width:100%;
  overflow: hidden;
}
.backgroundVideoWrapper .backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover;
}
.backgroundVideoWrapper .foregroundContent {
  position: relative;
  z-index: 1;
}

footer {
  background-color: #061f3a;
  color: white;
  font-weight: 400;
  padding: 2rem 0;
  // small { font-size: 0.625rem; }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: white; }
  ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  a { text-decoration: none; color: inherit; }
  a:visited { color: inherit; }
  a:hover, a:active { color: #bbb; }
  #blogLogoWrapper {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  .logoText { font-size: 0.75rem; text-transform: uppercase;}
}

@media (min-width: 576px) {
  footer {
    .spacedList > li { margin-bottom: 16px; }
    #blogLogoWrapper {
      margin-top: 16px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 768px) {
  footer {
    padding: 4rem 0;
  }
}

@media (min-width: 992px) {
  footer {
    #footerRow {
      margin-right: -2rem;
      margin-left: -2rem;
      > .col,
      > [class*="col-"] {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
  }

  #footerColBrand { width: 31%; }
  #footerColCertifications { width: 23%; }
  #footerColContactUs { width: 23%; }
  #footerColStayInformed { width: 23%; border-left: 1px solid rgba(255, 255, 255, 0.25); }

  .spacedList > li { margin-bottom: 16px }
}

@media (min-width: 1200px) {
  footer {
    #footerRow {
      margin-right: -3rem;
      margin-left: -3rem;
      > .col,
      > [class*="col-"] {
        padding-right: 3rem;
        padding-left: 3rem;
      }
    }
  }

  #footerColBrand { width: 28%; }
  #footerColCertifications { width: 24%; }
  #footerColContactUs { width: 24%; }
  #footerColStayInformed { width: 24%; }
}

@media (min-width: 1400px) {
  footer {
    #footerRow {
      margin-right: -3.5rem;
      margin-left: -3.5rem;
      > .col,
      > [class*="col-"] {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
      }
    }

    #footerColBrand { width: 28%; }
    #footerColCertifications { width: 24%; }
    #footerColContactUs { width: 24%; }
    #footerColStayInformed { width: 24%; }
  }
}

.footerIconWrapper {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 6px;
}
