.wrapper {
  padding: 1.5rem;
  border-top: 3px solid #E1BC93 !important;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.CTCbox {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.howItWorks {
  padding: 1.5rem;
  background-color: #F9FAFC;
  border-radius: 1rem;
}

.caseHeader {
  background-color: #000B43; /* your top color */
  padding: 1.5rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.caseBody {
  padding: 1.5rem;
  background-color: white;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.disclaimerBox {
  padding: 1.5rem;
  border-radius: 0rem 2rem 1rem 0rem;
  background-color: #FEFBEE;
  border: 2px solid #FAC067;
  border-left: 4px solid #FAC067;
}

.customAmber {
  color: #894124;
}

.customOrange {
  color: #E1BC93;
}

.customBlue {
  color: #1A3AF4;
}